.error{
    color:#fff;
    margin-top: 4px;
    margin-bottom: 4px;
}

.input{
    height: 40px;
    border:0;
    background-color: var(--dark-900);
    padding: 0 16px;
    color: var(--white);
    border: 1px solid var(--gray-100);
}
